<div class="bounds">

	<div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="10" class="sec1" fxFlex.xs="55">
		
		</div>
		<div fxFlex="80" class="sec3" fxFlex.xs="15">
			<mat-card class="example-card" *ngFor="let show of searchResult">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{ show.videotitle }}</mat-card-title>
                  <mat-card-subtitle>{{ show.description }}</mat-card-subtitle>
                </mat-card-header>
                <iframe [src]="transform(safeUrl)"  width="640" height="360" frameborder="0"
    webkitallowfullscreen mozallowfullscreen allowfullscreen allow='autoplay'>
</iframe>
                <!-- <iframe [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe> -->
                 <mat-card-actions style="margin-left: 5%;">
                  <button mat-button>Channel Title {{show.channelTitle}}</button>
                  <button mat-button>Views {{show.videoViewCount}}</button>
                  
                </mat-card-actions>
              </mat-card>
		</div>
        <div fxFlex="10" class="sec1" fxFlex.xs="55">
		</div>
	</div>